GitPython
matplotlib
pandas
python-dict-wrapper
scipy
seaborn
scikit-image
scikit-learn
tables
tqdm
wandb
GPUtil
tensorboard
git+https://github.com/patrickmineault/research_code.git
# NOTE KZ: replaced link below with package name torch-lucent
# git+https://github.com/greentfrapp/lucent.git
torch-lucent